---
layout: layouts/post-video.njk

title: "The Golden Record: Human Existence in 90 Minutes"
source: "Aperture"
sourceURL: "https://www.youtube.com/c/ApertureScience/videos"
description: "The golden records have been a staple of science for decades now, but what are the golden records? What do they do? What's on the golden records? And most importantly, who's going to find them?"
date: "2020-10-25"
tags:
  - "science"
  - "humanity"
  - "zach"
videoType: "youtube"
videoID: "5bOzhebLqp8"
---
