---
layout: layouts/post-video.njk

title: "Gene-Editing Reality Check"
source: "PBS Nova"
sourceURL: "https://www.pbs.org/show/nova/"
description: "Scientists are beginning to use CRISPR gene-editing technology to treat diseases and alter the human genome. But as research advances, the ethical dilemmas multiply. Which illnesses—and traits—should be eliminated from the human experience?"
date: "2020-10-25"
tags:
  - "science"
  - "genetics"
  - "steve"
videoType: "pbs"
videoID: "3046468537"
---
