---
layout: layouts/post-video.njk

title: "Why We Sit On The Floor"
source: "Thoughtworthy Co"
sourceURL: "https://www.youtube.com/c/ThoughtworthyCo/videos"
description: "We didn't commit to sitting on the floor on a whim. Apart from looking cool, we have other solid reasons for doing so. Hopefully this video does a decent job of addressing some of the questions that you may have!"
date: "2020-10-18"
tags:
  - "lifestyle"
  - "health"
  - "zach"
videoType: "youtube"
videoID: "lk6iBopDPgA"
---
