---
layout: layouts/post-video.njk

title: "How Does Permeable Pavement Work?"
source: "Practical Engineering"
sourceURL: "https://www.youtube.com/c/PracticalEngineeringChannel/videos"
description: "Cities represent a remarkable transformation of the landscape from natural to human-made. One of the most significant changes to the landscape that comes with urbanization is impervious cover. That's anything that prevents rain from soaking into the subsurface: buildings, sidewalks, driveways, and the biggest culprits - streets and parking lots. Impervious cover is a big issue. When you pave paradise to put up a parking lot, you cause a pretty significant disruption to some really important natural processes in a watershed. But, not all cover has to be impervious."
date: "2020-10-11"
tags:
  - "engineering"
  - "sustainability"
  - "zach"
videoType: "youtube"
videoID: "ERPbNWI_uLw"
---
