---
layout: layouts/post-video.njk

title: "That Time the Mediterranean Sea Disappeared"
source: "PBS Eons"
sourceURL: "https://www.youtube.com/channel/UCzR-rom72PHN9Zg7RML9EbA"
description: "How could a body of water as big as the Mediterranean just...disappear? It would take decades and more than 1,000 research studies to even start to figure out the cause -- or causes -- of one of the greatest vanishing acts in Earth’s history."
date: "2020-10-04"
tags:
  - "history"
  - "biology"
  - "geology"
  - "zach"
videoType: "youtube"
videoID: "HooZ84rpovQ"
---
