---
layout: layouts/post-video.njk

title: "The Coronavirus Explained & What You Should Do"
source: "Kurzgesagt – In a Nutshell"
sourceURL: "https://www.youtube.com/c/inanutshell/videos"
description: "In December 2019 the Chinese authorities notified the world that a virus was spreading through their communities. In the following months it spread to other countries, with cases doubling within days. This virus is the “Severe acute respiratory syndrome-related coronavirus 2”, that causes the disease called COVID19, and that everyone simply calls Coronavirus. What actually happens when it infects a human and what should we all do?"
date: "2020-10-11"
tags:
  - "biology"
  - "virology"
  - "steve"
videoType: "youtube"
videoID: "BtN-goy9VOY"
---
