---
layout: layouts/post-video.njk

title: "2030: Privacy's Dead. What happens next?"
source: "Tom Scott"
sourceURL: "https://www.youtube.com/c/TomScottGo/videos"
description: "At dConstruct 2014, I spin a tale of the future: not to make a prediction, but to put our current world in perspective."
date: "2020-11-01"
tags:
- "futurology"
- "privacy"
- "steve"
videoType: "youtube"
videoID: "_kBlH-DQsEg"
---
