---
layout: layouts/post-video.njk

title: "A Brief History of Fat, and Why We Hate It"
source: "Slate"
sourceURL: "https://www.youtube.com/slate/videos"
description: "Fat is a complex organ, as essential as the heart or liver. Why do we hate it?"
date: "2020-11-15"
tags:
- "science"
- "biology"
- "zach"
videoType: "youtube"
videoID: "Vinqph-g5QI"
---
