---
layout: layouts/post-video.njk

title: "Geoengineering: A Horrible Idea We Might Have to Do"
source: "Kurzgesagt – In a Nutshell"
sourceURL: "https://www.youtube.com/c/inanutshell/videos"
description: "By the end of the 21st century, humanity is becoming desperate. Decades of heatwaves and droughts have led to unusually  poor harvests, while the warming oceans yield fewer fish each year. In the tropical zones, millions suffer from famine and resource wars have made millions more flee to the north. As things quickly get worse, in an act of desperation, the world's governments decide to enact an emergency plan..."
date: "2020-11-01"
tags:
- "science"
- "humanity"
- "global warming"
- "zach"
videoType: "youtube"
videoID: "dSu5sXmsur4"
---
