---
layout: layouts/post-video.njk

title: "How I Learned to Hold My Breath for 4 Minutes"
source: "Mike Boyd"
sourceURL: "https://www.youtube.com/c/MikeBoydVideo/videos"
description: "Improve your breathing through practice"
date: "2020-11-29"
tags:
- "physiology"
- "breathing"
- "steve"
videoType: "youtube"
videoID: "V6iyDEWG1CU"
---

<hr>
<h2>Note from the Editor</h2>
<p>There are potential side effects of trying to hold your breathe for extended periods of time, especially when you are in water. Check this link out below for more information.</p>
<p><a href="https://www.healthline.com/health/holding-your-breath" target="_blank" rel="noopener">https://www.healthline.com/health/holding-your-breath</a></p>

