---
layout: layouts/post-video.njk

title: "The Forgotten Number System"
source: "Numberphile"
sourceURL: "https://www.youtube.com/user/numberphile/videos"
description: ""
date: "2020-11-08"
tags:
- "mathematics"
- "history"
- "zach"
videoType: "youtube"
videoID: "9p55Qgt7Ciw"
---
