---
layout: layouts/post-video.njk

title: "The Biggest Lie About Climate Change"
source: "AsapSCIENCE"
sourceURL: "https://www.youtube.com/user/AsapSCIENCE/videos"
description: ""
date: "2020-11-08"
tags:
- "science"
- "climate"
- "steve"
videoType: "youtube"
videoID: "TbW_1MtC2So"
---
