---
layout: layouts/post-video.njk

title: "The Surprising Reason Why Human Teeth Are A Design Disaster"
source: "Cheddar"
sourceURL: "https://www.youtube.com/c/cheddar/videos"
description: "We’ve got crooked, cavity-ridden teeth that cause us tons of pain and make us go to the dentist at least once a year. And that’s if your teeth are doing well. But other animals don’t have these problems - so why is it just humans with the bad teeth? It’s actually because it’s our fault."
date: "2020-11-22"
tags:
- "science"
- "biology"
- "teeth"
- "zach"
videoType: "youtube"
videoID: "PzYLSPY5yFw"
---
