---
layout: layouts/post-video.njk

title: "The Geometry of Causality"
source: "PBS Space Time"
sourceURL: "https://www.youtube.com/c/pbsspacetime/videos"
description: "In this episode we dive deeper into the relationship between space and time and explore how we can geometrically map the causality of the universe and increase our understanding of how time and distance relate to one another."
date: "2020-11-29"
tags:
- "science"
- "astrophysics"
- "quantum mechanics"
- "space"
- "damon"
videoType: "youtube"
videoID: "1YFrISfN7jo"
---
