---
layout: layouts/post-video.njk

title: "The Insane Logistics of Transporting the Biggest Object in History"
source: "RealLifeLore"
sourceURL: "https://www.youtube.com/c/RealLifeLore/videos"
description: ""
date: "2020-11-15"
tags:
- "science"
- "engineering"
- "steve"
videoType: "youtube"
videoID: "dx9uKUUJCjI"
---
