---
layout: layouts/post-video.njk

title: "VSEPR Theory - Basic Introduction"
source: "The Organic Chemistry Tutor"
sourceURL: "https://www.youtube.com/c/TheOrganicChemistryTutor/videos"
description: "This chemistry video tutorial provides a basic introduction into VSEPR theory and molecular structure.  It contains examples and practice problems of drawing lewis structures along with the correct molecular geometry.  Structures include the tetrahedral shape, bent, linear, trigonal planar, and trigonal pyramidal molecular geometry as well as their bond angles."
date: "2020-11-01"
tags:
- "science"
- "chemistry"
- "damon"
videoType: "youtube"
videoID: "DBrq31w8vC4"
---
