---
layout: layouts/post-video.njk

title: "What if mRNA could be a drug?"
source: "Stephane Bancel | TEDxBeaconStreet"
sourceURL: "https://www.youtube.com/user/TEDxTalks/videos"
description: "Biology dogma: DNA -- mRNA -- proteins. The biotech industry has made wonders for patients in the last 30 years making recombinant proteins, like EPO and insulin. What if mRNA could be a drug and the body could make its own missing proteins on demand?"
date: "2020-11-22"
tags:
- "science"
- "biology"
- "steve"
videoType: "youtube"
videoID: "T4-DMKNT7xI"
---
