---
layout: layouts/post-video.njk

title: "You'll only hear the word you're reading: “Green Needle” or “Brainstorm”"
source: "Brew"
sourceURL: "https://www.youtube.com/c/BrewSolves/videos"
description: "Today we’re exploring interesting audio illusions that trick our brains into perceiving different things, and looking into why these mind tricks actually work. Does this toy say brainstorm, or green needle? Why do some people hear Yanny when it was actually Laurel?"
date: "2020-11-29"
tags:
- "science"
- "audiology"
- "zach"
videoType: "youtube"
videoID: "Z-4qNCRDVyU"
---
