---
layout: layouts/base.njk
title: About This Site
templateClass: tmpl-post
eleventyNavigation:
  key: About
  order: 3
---

<h1>{{ title }}</h1>
<p class="mb-5">This site is for those in the pursuit of knowledge.</p>

<h2>Want to submit a video for the blog?</h2>

<div class="d-flex">
    <div class="col-auto">
        <form name="the-muses-video-submission" netlify>
            <div class="form-group mb-5">
                <label for="video-name">Video Name</label>
                <input type="text" name="video-name" id="video-name">
            </div><!-- end from group -->

            <div class="form-group mb-5">
                <label for="video-url">Video URL</label>
                <input type="text" name="video-url" id="video-url">
            </div><!-- end from group -->

            <div><button class="btn btn-primary" type="submit">Send!</button></div>
        </form>
    </div><!-- end col -->
</div><!-- end row -->
