body.dark {
    background-color: #222222;
    background: radial-gradient(ellipse at bottom,#1b2735 0,#090a0f 100%);
    color: #eeeeee;
}

.dark a {
    color: #eeeeee;
}

.dark .post-footer {
    color: #9d9d9d;
}

.dark .btn {
    color: #ffffff;
}
