body {
    transition: all 300ms;
}

a {
    color: #222222;
}

p {
  margin-bottom: 10px;
}

[data-toggle-content] {
  display: none;
}

header h1 a {
    text-decoration: none;
}

.post-container {
    max-width: 640px;
}

.post-footer {
    font-size: 80%;
    color: #555555;
}

/* Embed Responsively */
.embed-container {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
    max-width: 100%;
}
.embed-container iframe,
.embed-container object,
.embed-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
    border-radius: 20px;
}


.btn-outline-primary {
    color: #007bff;
    background-color: transparent;
    border-color: #007bff;
}

.btn-outline-primary:hover {
    color: #fff;
    background-color: #0069d9;
    border-color: #0069d9;
}

.btn-outline-primary:focus, .btn-outline-primary.focus {
    color: #fff;
    background-color: #0069d9;
    border-color: #0069d9;
    box-shadow: 0 0 0 0.2rem rgba(38, 143, 255, 0.5);
}
