html {
    scroll-behavior: smooth;
}

hr {
    border-top: 1px solid rgba(255, 255, 255, .1);
}

body {
    transition: all 300ms;
}

a {
    color: #222222;
    text-decoration: underline;
}

a.btn {
    text-decoration: none;
}

p {
  margin-bottom: 10px;
}

[data-toggle-content] {
  display: none;
}

header h1 a {
    text-decoration: none;
}

.post-container {
    max-width: 640px;
}

.post-footer {
    font-size: 80%;
    color: #555555;
}

/* Embed Responsively */
.embed-container {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
    max-width: 100%;
}
.embed-container iframe,
.embed-container object,
.embed-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
    border-radius: 20px;
}


.btn-outline-primary {
    color: #007bff;
    background-color: transparent;
    border-color: #007bff;
}

.btn-outline-primary:hover {
    color: #fff;
    background-color: #0069d9;
    border-color: #0069d9;
}

.btn-outline-primary:focus, .btn-outline-primary.focus {
    color: #fff;
    background-color: #0069d9;
    border-color: #0069d9;
    box-shadow: 0 0 0 0.2rem rgba(38, 143, 255, 0.5);
}

.btn-success {
    color: #fff;
    background-color: #28a745;
    border-color: #28a745;
}

.btn-success:hover {
    color: #fff;
    background-color: #218838;
    border-color: #1e7e34;
}

.btn-success:focus, .btn-success.focus {
    color: #fff;
    background-color: #218838;
    border-color: #1e7e34;
    box-shadow: 0 0 0 0.2rem rgba(72, 180, 97, 0.5);
}

.btn-success.disabled, .btn-success:disabled {
    color: #fff;
    background-color: #28a745;
    border-color: #28a745;
}

.btn-danger {
    color: #fff;
    background-color: #dc3545;
    border-color: #dc3545;
}

.btn-danger:hover {
    color: #fff;
    background-color: #c82333;
    border-color: #bd2130;
}

.btn-danger:focus, .btn-danger.focus {
    color: #fff;
    background-color: #c82333;
    border-color: #bd2130;
    box-shadow: 0 0 0 0.2rem rgba(225, 83, 97, 0.5);
}

.btn-danger.disabled, .btn-danger:disabled {
    color: #fff;
    background-color: #dc3545;
    border-color: #dc3545;
}

.post-tag {
    text-transform: capitalize;
}

.page-tag-list .post-tag {
    font-size: 20px;
    display: inline-block;
    padding: 5px 10px;
}


.share-post-btn {
    display: none;
}

main {
    min-height: 80vh;
}

.font-22 {font-size: 22px;}
.font-30 {font-size: 30px;}
.font-50 {font-size: 50px;}
.border-radius-20 {border-radius: 20px;}

[data-expand] {
    display: none;
}

.review-random {
    bottom: 0;
}

input.form-control {
    background: rgba(0,0,0,0.6);
    border: 0;
    border-bottom: 3px dotted #f1c40f;
    border-radius: 0;
    color: #ffffff;
}
