---
layout: layouts/post-video.njk

title: "How Switzerland Stayed Neutral"
source: "Johnny Harris"
sourceURL: "https://www.youtube.com/c/JohnnyHarrisvox"
description: "This video details how Switzerland stayed Neutral during its existence as a country. Very clever and insightful dive into Switzerland as a country. I'd love to go some day. It looks beautiful."
date: "2020-07-26"
tags:
  - "video"
  - "history"
  - "switzerland"
  - "zach"
videoType: "youtube"
videoID: "YeAxxMZf1O4"
---
