---
layout: layouts/base.njk
permalink: /about/
title: About This Site
---

<h1>{{ title }}</h1>
<p class="mb-5">This site is for those in the pursuit of knowledge.</p>

<h2 class="mb-5">Want to submit a video for the blog?</h2>

<form name="the-muses-video-submission"
      netlify
      netlify-honeypot="testing-input"
      method="POST"
      style="max-width: 304px;">

    <div class="form-group mb-5">
        <label for="video-name" class="sr-only">Video Name</label>
        <input type="text"
               class="form-control form-control-lg"
               name="video-name"
               id="video-name"
               placeholder="Video Name">
    </div><!-- end from group -->

    <div class="form-group mb-5">
        <label for="video-url" class="sr-only">Video URL</label>
        <input type="url"
               class="form-control form-control-lg"
               name="video-url"
               id="video-url"
               placeholder="Video URL">
    </div><!-- end from group -->

    <div class="d-none">
        <label for="testing-input" class="sr-only">Testing Input</label>
        <input type="text"
               name="testing-input"
               id="testing-input"
               placeholder="Video URL">
    </div><!-- end from group -->

    <div><button class="btn btn-primary btn-lg d-block w-100" type="submit">Send!</button></div>
</form>
