---
layout: layouts/base.njk
title: "Fitness Resources"
permalink: /fitness/
---

<h1>{{ title }}</h1>

<p class="mb-5">Here are some starting points for those looking to start or continue your fitness education. I've been using these youtube channels for years and they have really helped me in my journey to be stronger.</p>


<div class="row">
    <div class="col-xl mb-5">
        <h2 class="mb-4">Flexibility</h2>

        <div class="border p-3">
            <p class="font-weight-bold">GMB Fitness</p>
            <p>Bodyweight training, flexibility, natural movements. Great for both beginners and athletes. Most gym goers don't usually work on flexibility so incorporating a bodyweight program will help you a lot. One of the reasons I like this program is because its not a subscription. They have a one time payment for their classes and then you can watch them forever.</p>

            <p class="font-22"><a href="https://www.youtube.com/c/GMBFitnessSkills/videos" target="_blank" rel="noopener">Youtube Channel</a></p>
            <p class="font-22"><a href="https://gmb.io/" target="_blank" rel="noopener">Website: https://gmb.io/</a></p>
        </div><!-- end card -->
    </div><!-- end col -->



    <div class="col-xl mb-5">
        <h2 class="mb-4">Strength and Size</h2>

        <div class="border p-3">
            <p class="font-weight-bold">Athlean-X</p>
            <p>Physical therapist Jeff Cavaliere is great a showing you how to build muscle, keep your muscles and joints healthy, and to improve your overall athleticism. This program is great for building size and greater strength without injuring yourself. I've been following this channel for years. This program is also a one-time payment which is always nice. There is also a ton of content on his youtube channel that you could use for a full workout.</p>

            <p class="font-22"><a href="https://www.youtube.com/c/athleanx/videos" target="_blank" rel="noopener">Youtube Channel</a></p>
            <p class="font-22"><a href="https://athleanx.com/" target="_blank" rel="noopener">Website: https://athleanx.com/</a></p>
        </div><!-- end card -->
    </div><!-- end col -->


    <div class="col-xl mb-5">
        <h2 class="mb-4">Yoga</h2>

        <div class="border p-3">
            <p class="font-weight-bold">Yoga With Adriene</p>
            <p>This yoga channel is my go-to for all yoga related things. Adriene has a ton of content that ranges from getting started to very advanced. She has lots of "30 day challenge" videos that are fun to follow. All of her content is on Youtube so theres no subscription needed to learn how to do yoga. Highly recommend this one!</p>

            <p class="font-22"><a href="https://www.youtube.com/c/yogawithadriene/videos" target="_blank" rel="noopener">Youtube Channel</a></p>
        </div><!-- end card -->
    </div><!-- end col -->
</div><!-- end row -->

