---
layout: layouts/base.njk
title: "Resources"
permalink: /resources/
---

<h1 class="mb-5">{{ title }}</h1>

{# {"name": "Language", "url": "/language/"} #}

<div class="row">
    {% for item in resourcesList %}
    <div class="col-xl-4 mb-5">
        <a href="{{ item.url }}" class="btn btn-outline-primary py-3 d-block w-100 font-30">{{ item.name }}</a>
    </div><!-- end col -->
    {% endfor %}
</div><!-- end row -->
