---
layout: layouts/base.njk
title: "Resources"
permalink: /resources/
---

<h1 class="mb-5">{{ title }}</h1>


<div class="row">
    <div class="col-xl-4 mb-5">
        <a href="/fitness/" class="btn btn-outline-primary py-3 d-block w-100 font-50">Fitness</a>
    </div><!-- end col -->

    {#<div class="col-xl-4 mb-5">
        <a href="/language/" class="btn btn-outline-primary py-3 d-block w-100 font-50">Language</a>
    </div><!-- end col -->#}
</div><!-- end row -->
