---
layout: layouts/post-video.njk

title: "Building A Castle Using 13th Century Tools"
source: "Absolute History"
sourceURL: "https://www.youtube.com/channel/UCr5qeBG9g7bGtMGyHG2GzbQ"
description: "In the Burgundy region of France, the world’s biggest archaeological experiment - a 25 year project to build a medieval castle from scratch, using only the tools and materials available in the 13th century."
date: "2020-08-16"
tags:
  - "video"
  - "history"
  - "engineering"
  - "zach"
videoType: "youtube"
videoID: "SURsW7BpCNc"
---
