---
layout: layouts/post-video.njk

title: "Hawaii's Axis Deer - From invasive species to food source"
source: "Maui Nui Venison"
sourceURL: "https://www.youtube.com/channel/UChAFdHAWJxdAEiSyXCTXN7w"
description: "We believe that everything in nature is connected, that what is good for the planet is good for us. Hawaii's Axis deer are responsible for causing widespread degradation to fragile ecosystems including endemic species loss, soil erosion, and water quality issues. They also pose serious threats to resources local ranchers and farmers rely on. Managing populations of invasive Axis deer supports the health of our landscapes while building more resilient food systems."
date: "2020-08-01"
tags:
  - "video"
  - "nature"
  - "animals"
  - "steve"
videoType: "youtube"
videoID: "cnAuzr-Fl8U"
---
