---
layout: layouts/post-video.njk

title: "How Plants Caused the First Mass Extinction"
source: "PBS Eons"
sourceURL: "https://www.youtube.com/channel/UCzR-rom72PHN9Zg7RML9EbA"
description: "In the middle of the Cambrian, life on land was about to get a little more crowded. And those newcomers would end up changing the world. The arrival of plants on land would make the world colder, drain much of the oxygen out of the oceans and eventually, it would help cause a massive extinction event."
date: "2020-08-23"
tags:
  - "video"
  - "history"
  - "science"
  - "plants"
  - "zach"
videoType: "youtube"
videoID: "mAkjETPM1s4"
---
