---
layout: layouts/post-video.njk

title: "The Warrior Kingdoms of the Weaver Ant"
source: "Kurzgesagt – In a Nutshell"
sourceURL: "https://www.youtube.com/user/Kurzgesagt"
description: "Deep in tropical jungles lie floating kingdoms ruled by beautiful and deadly masters: They are sort of the high elves of the ant kingdoms: Talented architects that create castles and city states. But they are also fierce and expansionist warriors and their kingdoms are ensnared in a never ending war for survival. Oecophylla weaver ants."
date: "2020-08-30"
tags:
  - "video"
  - "nature"
  - "animals"
  - "damon"
videoType: "youtube"
videoID: "B3QTAgHlwEg"
---
