---
layout: layouts/post-video.njk

title: "True Facts: The Hummingbird Warrior"
source: "zefrank1"
sourceURL: "https://www.youtube.com/user/zefrank1"
description: "An interesting and entertaining look at Hummingbirds that will leave you with more knowledge about this unique creature than you ever dreamed possible. This is the latest video in the True Facts series from Ze Frank. Each episode is like a miniature science lesson from a teacher full of humor and sarcasm that any student would find entertaining."
date: "2020-08-30"
tags:
  - "video"
  - "nature"
  - "animals"
  - "steve"
videoType: "youtube"
videoID: "Biagyb7AcK8"
---
