---
layout: layouts/post-video.njk

title: "Unraveling the Monarch Butterfly Migration Mystery"
source: "It's Okay To Be Smart"
sourceURL: "https://www.youtube.com/user/itsokaytobesmart"
description: "The monarch butterfly migration is one of nature’s greatest events. This orange-winged wonder travels up to 4,500 km from all over North America to spend the winter hanging from oyamel fir trees in central Mexico’s mountain forests. How does an animal with a brain the size of a poppy seed navigate to this one special place, especially since the last monarchs to make the trip lived 4 or 5 generations earlier?"
date: "2020-08-09"
tags:
  - "video"
  - "nature"
  - "animals"
  - "steve"
videoType: "youtube"
videoID: "fBakLuH6kDY"
---
