---
layout: layouts/post-video.njk

title: "Who Is Responsible For Climate Change?"
source: "Kurzgesagt – In a Nutshell"
sourceURL: "https://www.youtube.com/user/Kurzgesagt"
description: "Since the Industrial Revolution, humans have released over 1.5 trillion tonnes of carbon dioxide or CO2 into the earth's atmosphere. In the year 2019 we were still pumping out around 37 billion more. That’s 50% more than the year 2000 and almost three times as much as 50 years ago. And it’s not just CO2. We’re also pumping out growing volumes of other greenhouse gases such as methane and nitrous oxide. Combining all of our greenhouse gases, we’re emitting 51 billion tonnes of carbon dioxide equivalents each year."
date: "2020-08-09"
tags:
  - "video"
  - "science"
  - "climate"
  - "zach"
videoType: "youtube"
videoID: "ipVxxxqwBQw"
---
