---
layout: layouts/post-video.njk

title: "Why The U.S. And China Fight Over IP"
source: "CNBC"
sourceURL: "https://www.youtube.com/user/cnbc"
description: "Imagine Nike without the swoosh, McDonald’s with no golden arches, or Apple without the apple. Trademarks and patents can make or break a company. In the U.S. alone, intellectual property-intensive industries contribute trillions of dollars to the economy every year, and IP has become a key battleground between the world’s biggest economic powers, the U.S. and China."
date: "2020-08-23"
tags:
  - "video"
  - "finance"
  - "international"
  - "steve"
videoType: "youtube"
videoID: "mlfUX8i5s7s"
---
