<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>{{ title or metadata.title }}</title>
    <meta name="description" content="{{ description or metadata.description }}">

    <meta property="og:url"                content="{{ metadata.url }}{{ page.url }}" />
    <meta property="og:title"              content="{{ title or metadata.title }}" />
    <meta property="og:description"        content="{{ description or metadata.description }}" />
    <meta property="og:image"              content="{{ metadata.url }}/images/opengraph-the-muses.png" />
    <meta property="og:image:width"        content="1000" />
    <meta property="og:image:height"       content="525" />

    {% if layout == "layouts/post.njk" %}
        <meta property="og:type" content="article" />
    {% else %}
        <meta property="og:type" content="website" />
    {% endif %}


    <meta name="theme-color" content="#222222">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-capable" content="yes">

    <link rel="manifest" href="/manifest.json">
    <link rel="icon" sizes="192x192" type="image/png" href="/images/icons/android-icon-192x192-manifest.jpg">
    <link rel="apple-touch-icon" href="/images/icons/apple-icon-72x72-manifest.jpg">
    <link rel="apple-touch-icon" sizes="152x152" href="/images/icons/apple-icon-152x152-manifest.jpg">
    <link rel="apple-touch-icon" sizes="192x192" href="/images/icons/android-icon-192x192-manifest.jpg">


    <style>
        {% set css %}
        {% include "_includes/css/taurus-css.css" %}
        {% include "_includes/css/shooting-stars.css" %}
        {% include "_includes/css/styles.css" %}
        {% include "_includes/css/dark-mode.css" %}
        {% endset %}
        {{ css | minifyCSS | safe }}
    </style>


    <link rel="alternate" href="{{ metadata.feed.path | url }}" type="application/atom+xml" title="{{ metadata.title }}">
    <link rel="alternate" href="{{ metadata.jsonfeed.path | url }}" type="application/json" title="{{ metadata.title }}">

</head>
<body class="dark">

<div class="night-container">
    <div class="night">
        <div class="shooting_star"></div>
        <div class="shooting_star"></div>
        <div class="shooting_star"></div>
        <div class="shooting_star"></div>
        <div class="shooting_star"></div>
        <div class="shooting_star"></div>
        <div class="shooting_star"></div>
        <div class="shooting_star"></div>
        <div class="shooting_star"></div>
        <div class="shooting_star"></div>
        <div class="shooting_star"></div>
        <div class="shooting_star"></div>
        <div class="shooting_star"></div>
        <div class="shooting_star"></div>
        <div class="shooting_star"></div>
        <div class="shooting_star"></div>
        <div class="shooting_star"></div>
        <div class="shooting_star"></div>
        <div class="shooting_star"></div>
        <div class="shooting_star"></div>
    </div><!-- end night -->
</div><!-- end night container -->


<header class="container border-bottom mb-5 py-3 px-0 text-center">
    <h1 class="home"><a href="{{ '/' | url }}">{{ metadata.title }}</a></h1>

    <a href="/" class="btn font-weight-bold">Home</a>
    <a href="/about/" class="btn font-weight-bold">About</a>
    <a href="/posts/" class="btn font-weight-bold">Posts</a>
    <a href="/tags/" class="btn font-weight-bold">Tags</a>
    <a href="/resources/" class="btn font-weight-bold">Resources</a>
</header>



<main class="container">
    {{ content | safe }}
</main>



<footer class="text-center pb-5">
    <p>🔥 <a href="https://www.brewhouse.digital/" target="_blank" rel="noopener">A Brewhouse Digital site</a> 🔥</p>
    <p><a href="/language/" class="text-decoration-none">☕</a></p>
</footer>



<script>
    {% set js %}
    {% include "_includes/js/scripts.js" %}
    {% endset %}

    {{ js | safe }}
</script>

</body>
</html>
