<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title or metadata.title }}</title>
    <meta name="description" content="{{ description or metadata.description }}">


    {% set css %}
        {% include "../css/taurus-css.css" %}
        {% include "../css/styles.css" %}
        {% include "../css/dark-mode.css" %}
    {% endset %}

    <style>
        {{ css | minifyCSS | safe }}
    </style>


    <link rel="alternate" href="{{ metadata.feed.path | url }}" type="application/atom+xml" title="{{ metadata.title }}">
    <link rel="alternate" href="{{ metadata.jsonfeed.path | url }}" type="application/json" title="{{ metadata.title }}">

</head>
<body class="dark">

<header class="container">
    <div class="d-md-flex align-items-center border-bottom mb-5 py-3">
        <h1 class="home text-md-left text-center"><a href="{{ '/' | url }}">{{ metadata.title }}</a></h1>

        <div class="text-md-right text-center">
            <a href="/" class="btn btn-primary">Home</a>
            <a href="/about/" class="btn btn-primary">About</a>
            <a href="/posts/" class="btn btn-primary">Posts</a>
            <a href="/tags/" class="btn btn-primary">Tags</a>
            <button type="button" class="btn btn-primary dark-mode-toggle">🌙</button>
        </div>
    </div><!-- end row -->
</header>



<main class="container">
    {{ content | safe }}
</main>



<footer class="container"></footer>





{% set js %}
    {% include "../js/scripts.js" %}
{% endset %}

<script>
    {#{{ js | minifyJS | safe }}#}
    {{ js | safe }}
</script>

</body>
</html>
