---
layout: layouts/post.njk
templateClass: tmpl-post
permalink: "posts/{{ title|slugURL }}-{{ date|slugURL }}/index.html"
---

<p class="font-weight-bold mb-3">
    Video Source: <a href="{{ sourceURL }}" target="_blank" rel="noopener">{{ source }}</a>
</p>

<div class="mb-5">
    {% embedVideo videoType, videoID, sourceURL, videoCover %}
</div>

<p class="mb-5">{{ description }}</p>

{{ content | safe }}
