---
layout: layouts/post-video.njk

title: "David Attenborough's Ant Mountain"
source: "CuriosityStream"
sourceURL: "https://curiositystream.com/video/2020"
description: "David Attenborough travels to the Jura Mountains in the Swiss Alps, to find out about one of the largest animal societies in the world, where over a billion ants live in peace."
date: "2020-09-20"
tags:
  - "video"
  - "nature"
  - "animals"
  - "steve"
videoType: "curiositystream"
videoCover: "https://cdn.curiositystream.com/webapp-v3/images/v8/video-2020-image_large-en-a/full.jpg"
videoID: "5MYItwY_LBs"
---
