---
layout: layouts/post-video.njk

title: "Electoral college | American civics"
source: "Khan Academy"
sourceURL: "https://www.youtube.com/user/khanacademy"
description: "How Americans elect their President through the system of the Electoral college"
date: "2020-09-13"
tags:
  - "video"
  - "politics"
  - "civics"
  - "steve"
videoType: "youtube"
videoID: "oTbvYGH_Hiw"
---

<h2>Additional Information</h2>

<p>You can learn more about "Faithless Electors" on wikipedia</p>
<p><a href="https://en.wikipedia.org/wiki/Faithless_elector" target="_blank" rel="noopener">Wikipedia.org</a></p>

<p>Here is a summary on the pros and cons of an electoral college system</p>
<p><a href="https://www.procon.org/headlines/the-electoral-college-top-3-pros-and-cons/" target="_blank" rel="noopener">ProCon.org</a></p>
