---
layout: layouts/post.njk

title: "My Daily Stretch For Hip Flexors"
description: "Your hip flexors are essential for walking because they help connect your leg muscle to your abdominal muscles. When humans age, hip flexors can deteriorate due to less physical activity and sitting too long. This can lead to the \"shuffling\" effect when you are older."
date: "2020-09-12"
tags:
- "post"
- "fitness"
- "hip flexors"
- "zach"
---


{% alert 'As with all fitness related things, you should consult your physician or healthcare provider before changing your diet or starting an exercise program. ' %}



<div class="row align-items-center">
    <div class="col-xl-auto text-xl-left text-center mb-5">
        <div><img src="/images/fitness/hip-flexor-skeleton.png" alt="muscle structure diagram of the hip flexor" class="rounded"></div>

        <p class="text-center">By <a href="//commons.wikimedia.org/w/index.php?title=User:Beth_ohara~commonswiki&action=edit&redlink=1" target="_blank" title="User:Beth ohara~commonswiki">Beth ohara~commonswiki</a> - <br><span lang="en">Own work</span>, <a href="http://creativecommons.org/licenses/by-sa/3.0/" target="_blank" title="Creative Commons Attribution-Share Alike 3.0">CC BY-SA 3.0</a>, <a href="https://commons.wikimedia.org/w/index.php?curid=545378" target="_blank">Link</a></p>
    </div><!-- end col -->

    <div class="col-xl pl-xl-5 mb-5">
        <h2>Hip Flexors. What are those??</h2>
        <p>Hip flexors connect your leg muscles to your abdominal muscles, and are very important for walking. When humans age, the hip flexors can deteriorate due to less physical activity and due to sitting too long. This can lead to the "shuffling" effect when you are older.</p>

        <p>Once you've reached "The Shuffle" stage, it is pretty difficult to regain strength back in your hip flexors without some serious work. I try to prevent a lot of this deterioration by doing this stretch every day. I like to do mine in the mornings right after a short 10 minute walk. I also try to do it before bed too (along with other light stretching).</p>

        <p><span>👈</span> Muscle'y info graphic outlining the parts of your hip flexors.</p>
    </div><!-- end col -->
</div><!-- end row -->


<h2>What I do</h2>

<ol>
    <li>First I sit on the floor (carpet is usually more comfortable to me than the hardwood floor) with one leg out, and my other leg close to my chest. I try to keep my back as straight as possible.</li>
    <li>I then squeeze my stomach and try to lift my leg off the ground. I hold this position for one second, then slowly lower it to the ground.</li>
    <li>I started off doing 4 raises with each leg. My hip flexors were initially pretty weak and it made this exercise pretty difficult. I always start off slow and raise my legs in a controlled manner.</li>
    <li>Every week or every other week, I try to increase my repetitions by 1 to achieve progressive overload.</li>
</ol>
