---
layout: layouts/post-video.njk

title: "My stroke of insight - Jill Bolte Taylor"
source: "TED"
sourceURL: "https://www.youtube.com/user/TEDtalksDirector"
description: "Neuroanatomist Jill Bolte Taylor had an opportunity few brain scientists would wish for: One morning, she realized she was having a massive stroke. As it happened -- as she felt her brain functions slip away one by one, speech, movement, understanding -- she studied and remembered every moment. This is a powerful story about how our brains define us and connect us to the world and to one another."
date: "2020-09-06"
tags:
  - "video"
  - "science"
  - "biology"
  - "steve"
videoType: "youtube"
videoID: "UyyjU8fzEYU"
---
