---
layout: layouts/post-video.njk

title: "Retirement Plans"
source: "Last Week Tonight with John Oliver"
sourceURL: "https://www.youtube.com/user/LastWeekTonight"
description: "Saving for retirement means navigating a potential minefield of high fees and bad advice. Billy Eichner and Kristin Chenoweth share some tips."
date: "2020-09-13"
tags:
  - "video"
  - "finance"
  - "retirement"
  - "zach"
videoType: "youtube"
videoID: "gvZSpET11ZY"
---
