---
layout: layouts/post-video.njk

title: "The Reason Our Streets Switched to Cul-De-Sacs"
source: "City Beautiful"
sourceURL: "https://www.youtube.com/channel/UCGc8ZVCsrR3dAuhvUbkbToQ"
description: "This video is based on the book Streets and the Shaping of Towns and Cities by Southworth and Ben-Joseph."
date: "2020-09-27"
tags:
  - "video"
  - "engineering"
  - "city planning"
  - "zach"
videoType: "youtube"
videoID: "d9vDcfH03gs"
---
