---
layout: layouts/post-video.njk

title: "Things That Don't Have a Thing to Do with Graphic Design | Aaron James Draplin"
source: "awwwards"
sourceURL: "https://www.youtube.com/channel/UCYWGYef22gx8PaXZMLHAQsw"
description: "Located in the mighty Pacific Northwest, the Draplin Design Co. proudly rolls up its sleeves on projects related to the Print, Identity and Illustration categories."
date: "2020-09-20"
tags:
  - "video"
  - "philosophy"
  - "life"
  - "colin"
videoType: "youtube"
videoID: "5MYItwY_LBs"
---
