---
layout: layouts/post-video.njk

title: "Why a Tuesday Can Feel Like July and Sometimes Never"
source: "It's Okay To Be Smart"
sourceURL: "https://www.youtube.com/user/itsokaytobesmart"
description: "Time passes for all of at the same rate of one second per second. But why does it sometimes feel like time is passing so fast, or so slowly? Especially during COVID? Let’s learn about how our brains keep track of and try to make sense of time, and how they get fooled."
date: "2020-09-06"
tags:
  - "video"
  - "science"
  - "biology"
  - "zach"
videoType: "youtube"
videoID: "NSy0Z7XCF3E"
---
